@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*  */
body {
    display: flex;
    background-color: hsl(0, 0%, 8%);
    align-items: center;
    justify-content: center;
}


div {
    display: flex;
    background-color: hsl(0, 0%, 12%);
    height: 600px;
    width: 450px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    justify-content: center;

}
img {
    height: 100px;
    border-radius: 50%;
    margin: 30px;
}