img{
    font-size: 50%;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(240, 248, 255);
    text-align: justify center;
}

body{
    background-color: rgb(0,0,0);
}

b{
    text-decoration: underline black dashed;
}