#button1 {
    border: 2px red double;
}
#button2 {
    border: 2px red double;
}
#button3 {
    border: 2px red double;
}
#button4 {
    border: 2px red double;
}
#button5 {
    border: 2px red double;
}

.button {
    border: 2px blue ridge;
}