#bigdiv {
    display: grid;
    grid-template-columns: repeat(5.fr);
    grid-template-rows: repeat(5.fr);
    gap: 20px;
    grid-template-areas: 
    'c1  c1  c1   c1    c1'
    'c2  c4    c4   c4  c5'
    'c2  c4   c4   c4   c5'
    'c3  c4    c4   c4   c5'
    'c6  c6   c6   c6   c6';
    height: 500px;
}


.div {
    background-color: brown;
}

#div1 {
    grid-area: c1;
}
#div2 {
    grid-area: c2;
}
#div3 {
    grid-area: c3;
}
#div4 {
    grid-area: c4;
}
#div5 {
    grid-area: c5;
}
#div6 {
    grid-area: c6;
}
