#div1 {
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
}
#div2 {
    padding: 60px;
    margin: 30px;
    border: 5px solid black;
}
#div3 {
    border: 2px solid black;
    padding: 90px;
    margin: 10px;
}
#div4 {
    padding: 40px;
    margin: 100px;
    border: 9px solid black;
}

#b1 {
    padding: 40px;
    margin: 100px;
    border: 3px solid black;
}

#b2 {
    padding: 4px;
    margin: 10px;
    border: 4px solid black;
}
#b3 {
    padding: 30px;
    margin: 50px;
    border: 1px solid black;
}
#div5 {
    padding: 90px;
    margin: 10px;
    border: 5px solid black;
}
#div6 {
    border: 2px solid black;
    padding: 45px;
    margin: 70px;
}
#div7 {
    padding: 4px;
    margin: 10px;
    border: 9px solid black;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#final {
    height: 200px;
    width: 200px;
    background-color: blue;
    padding: 30px;
    border-radius: 73% 27% 28% 72% / 16% 52% 48% 84%;
    margin: 20px;
}